{% extends 'base_backend.html.twig' %}
{% block content %}

    {#<div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Panel Header</div>
            <div class="panel-body">Panel Content</div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <a href="#" class="btn btn-primary">Learn More</a>
                    <a href="#" class="btn btn-default">Go Back</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Panel Header</div>
            <div class="panel-body">Panel Content</div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <a href="#" class="btn btn-primary">Learn More</a>
                    <a href="#" class="btn btn-default">Go Back</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Panel Header</div>
            <div class="panel-body">Panel Content</div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <a href="#" class="btn btn-primary">Learn More</a>
                    <a href="#" class="btn btn-default">Go Back</a>
                </div>
            </div>
        </div>
    </div>#}


{#    <div class="panel panel-default">
        <div class="panel-body" align="center">
            <a href="{{ path ('icdireccion_index') }}"><img src="bundles/icbackend/images/directivos.png" class="img-polaroid"></a>
            <a href="{{ path('icgerencia_index') }}"><img src="bundles/icbackend/images/gerencia.png" class="img-polaroid"></a>
            <a href="{{ path ('icarea_index') }}"><img src="bundles/icbackend/images/area.png" class="img-polaroid"></a>
            <a href="{{ path ('icpuesto_index') }}"><img src="bundles/icbackend/images/puesto.png" class="img-polaroid"></a>
            <a href="{{ path ('iccategoria_index') }}"><img src="bundles/icbackend/images/categoria.png" class="img-polaroid"></a>
            <a href="{{ path('icsubcategoria_index') }}"><img src="bundles/icbackend/images/subcategoria.png" class="img-polaroid"></a>

            <div class="clearfix"></div>
        </div>
    </div>#}

{% endblock %}



